export MANPATH=/opt/local/share/man:$MANPATH
export EDITOR='vim'
export VISUAL=$EDITOR
GIT_EDITOR=$EDITOR
export PAGER='less'
export ARCHFLAGS="-arch x86_64"
export NODE_PATH="/usr/local/lib/node"

export CC=gcc-4.2
export TERM=xterm-256color
